<%- include('../partials/header.ejs') %>
    <h1>Pokedex</h1>
    <img src=<%= individualPokemon.img %> alt="Image of <%= individualPokemon.name %>">
    <h2><%= individualPokemon.name %></h2>
    <h3><ul>
        <li>Height: <%= individualPokemon.misc.height %></li>
        <li>Weight: <%= individualPokemon.misc.weight %></li>
        <li>Abilities (Normal): <%= individualPokemon.misc.abilities.normal %></li>
        <li>Abilities (Hidden): <%= individualPokemon.misc.abilities.hidden %></li>
        <li>Stats Overview:<ul>
            <li>HP: <%= individualPokemon.stats.hp %></li>
            <li>Attack: <%= individualPokemon.stats.attack %></li>
            <li>Defense: <%= individualPokemon.stats.defense %></li>
            <li>Sp. Atk: <%= individualPokemon.stats.spattack %></li>
            <li>Sp. Def: <%= individualPokemon.stats.spdefense %></li>
            <li>Speed: <%= individualPokemon.stats.speed %></li>
        </ul></li>
    </ul></h3>
        <hr>
<%- include('../partials/footer.ejs') %>